
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


/* GENERAL visual design */

body{
    background-color: #EAE8E5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}


.sub-titles{
    font-weight: 550;

}

details {
    font-family: "Montserrat", serif;
    padding: 5px 10px;
}


header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background: white;
}

.leftIcons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 0;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.searchDropdown {
    display: block;

}

.search input {
    display: block;
    opacity: 1;
    width: clamp(160px, 40vw, 320px);
    padding: 8px 10px;
    border: 1px solid;
    border-radius: 20px;
    
}

.rightIcons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    min-width: 0;
}

#profileIcon {
    height: clamp(32px, 5vw, 42px);
}

.searchIcon {
        height: 35px;
}

/*hide on desktop, only for mobile */
.hamburger {
    visibility: hidden;
    opacity: 0;;
    color: black;
    background-color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.headerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border-top: 0.5px solid;
    padding: 15px;
    
}

nav a{
    font-family: "Playfair", sans-serif;
    font-size: large;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    transition: 0.3s;
}

nav a:hover{
    text-decoration: underline;
}

.searchBtn {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    font-size: clamp(15px,2vw,20px);
    cursor: pointer;
}

.searchIcon {
    height: clamp(25px, 5vw, 35px);
    margin: 0;
}

.categoriesDropdown {
    position: relative;
    display: inline-block;
    z-index: 1000; /*makes content be on top layer of everything */
}

.dropContent {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 0.1px solid;
    border-bottom: none;
    min-width: 180px;
    
}

.dropContent a {
    display: block;
    width: 100%;
    padding: 7px 15px;
    white-space: nowrap;
    box-sizing: border-box;


    font-family: "Montserrat", serif;
    font-size: 13px;
    font-weight: 350;
}

.dropContent a:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.categoriesDropdown:hover .dropContent {
    display: block;
    
}

header input{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid;
    width: 100%;
    max-width: 350px;
}

.logo{
    position: static;
    transform: none;
    height: clamp(60px, 8vw, 85px);
    width: auto;
    margin-left: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.cart-icon{
    height: clamp(50px, 4vw, 60px);
    margin-right: 10px;
}

/* set header font */
h1{
font-family: "Playfair Display", serif;
font-weight: 500;
margin: 20px;
font-size: clamp(35px, 5vw, 50px);
}

/*body text */
p {
    font-family: "Montserrat", serif;
    font-size: clamp(12px, 2vw, 16px);
    margin: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.infoText {
    font-family: "Montserrat", serif;
    font-size: clamp(12px, 2vw, 14px);
    margin: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.goBack {
    padding-left: 20px;
    padding-top: 20px;
    border: none;
    background: #EAE8E5;
    
}

.gobackLabel {
    font-family: "Montserrat", serif;
    font-size: clamp(14px, 2vw, 16px);
}

.goBack button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: clamp(16px, 2vw, 20px);
}

#productpgBack {
    padding-top: 20px;
}

/*HOMEPAGE */

.hero{
    position: relative;
    margin: 0;
    padding: 0;
}

.hero img{
    width: 100%;
    height: 350px; /*TEST ON SMALL SCREEN */
    object-fit: cover;
}

.herocontent{
    text-align: center;
    padding: 30px 20px;

}



.shopnowbtn{
    display: inline-block;
    font-family: "Montserrat", serif;
    font-size: 22px;
    background:#272401;
    text-decoration: none;
    margin: 10px 0;
    color: white;
    padding: 12px 30px;

    transition: 0.1s;

}

.shopnowbtn:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0,.25);

}

#tagline{
    font-family: "Montserrat", serif;
    font-size: 20px;
}

.keyValues{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 120px;
    margin-top:30px;
    
    margin-bottom: 60px;
}

.keyValues img{
    width: 50px;
    height: 50px;
    justify-content: center;
}

/* FAQ PAGE */
.faq-sections {
    border-bottom: 1px solid;
    margin-bottom: clamp(20px, 2vw, 40px);

    font-family: "Montserrat", serif;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
}

.faq .sub-titles {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 15px);
    margin-top: 10px;
}

.faq dd {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 15px);
    margin-left: 0;
}


/* CONTACT PAGE */

#ausMap {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* CATEGORIES PAGE */
.categoryCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 50px;
    


}

.category:hover {
    border: 1px solid #272401;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

}

.category{
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 100%;
    border: 0.5px solid rgba(39, 36, 1, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0,0.15);;
    transition: 0.2s ease;

}

.category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    display: block;

}

.category h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Playfair", serif;
    color: black;
    font-weight: 500;
    font-size: clamp(12px, 2.5vw, 30px); /*min, speed increase, max */
    margin: 0;
    text-align: center;
}

.productCardLink, .productCardLink:visited {
    color: black;
    text-decoration: none;
}

/* PRODUCT LISTS */
#productLists {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 columns */
    gap: 60px;
    padding: 40px;
}

#productLists article{
    background: white;
    border: 0.5px solid;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

}

#productLists article:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    border: 1.5px solid #272401;

}

#productLists article img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    display: block;
}

.info{
    padding: 20px 15px;
}

.info h3 {
    margin: 5px 0;
    font-family: "Montserrat", serif ;
    font-weight: 400;
    font-size: 24px;
    color: black;
    text-decoration: none;

}

.productCardLink {
    text-decoration: none;
}

.info p{
    margin: 5px 0;
    font-size: 14px;
    color: black;
    text-decoration: none;

}

#productLists {
    max-width: 1200px;
    margin: 0 auto;
}

/* CONTACT PAGE */
#ausMap {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    display: flex;
    justify-content: center;
    
}

/* ABOUT US */
#aboutUsSub {
    font-family: "Montserrat", serif;
    font-size: clamp(15px, 2vw, 18px);
    font-weight: 600;
    margin: 20px;
    

}

/* POLICIES */
#policies h2{
    font-family: "Montserrat", serif;
    font-size: clamp(15px, 2vw, 18px);
    font-weight: 600;
    margin-left: 20px;
}

/*PRODUCT PAGE */
.productpage {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.productinfo {
    flex: 1;
    width: 100%;
}

.productDropdowns {
    width: 100%;
    flex-basis: 100%;
    margin-top: 20px;
    
}

.productDropdowns details {
    border-top: 0.5px solid;
    padding: 10px;
}

.productimage, .productinfo {
    flex: 1;
}

.productimage {
    margin-top: 30px;
    margin-left: 30px;
}

#productimage {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.productpage img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: cover;
}

.d-none {
    display: none;
}

#rating {
    margin-left: 20px;
    font-size: 29px;
}

#prompt {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 700;
}

.selections {
    margin: 20px;
}

.selections h3 {
    font-family: "Montserrat", serif;
    font-weight: 350;
}

#startingStatement {
    font-family: "Montserrat", serif;
    font-weight: 350;
    font-size: 25px;
}

#preface {
    font-family: "Montserrat", serif;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
}

.emphasiseText {
    text-decoration: underline;
}

select {
    width: 220px;
    padding: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    font-family: "Montserrat", serif;
    font-size: 12px;
}

.productButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: 0;
}

#uploadDesign {
    background-color: #272401 ;
    align-self: center;
    justify-content: center;
    padding: 4px 10px 4px 10px;
    width: 140px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-bottom: 5px;

    font-family: "Montserrat", serif;
    font-size: 13px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploadDesign:disabled {
    background-color: #B5B5B5;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
}


#replaceFile {
    font-family: "Montserrat", serif;
    width: 140px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: 0;
    background: #EAE8E5;

}

#fileName {
    text-align: center;
    width: 140px;
    margin: 3px 0;
    font-size: 12px;

}



#addToCart {
    background-color: rgb(39, 36, 1, 0.47);
    align-items: center;
    justify-content: center;
    padding: 4px 10px 4px 10px;
    width: 140px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    border: 0.1px solid;
    cursor: pointer;
    margin: 0;
    margin-top: 10px;

    font-family: "Montserrat", serif;
    font-size: 13px;
    color: black;

}

#addToCart:disabled {
    background-color: #B5B5B5;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
}

.customiseAdd {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content
}



/* CART PAGE */

.cartHeader {
    background-color: #EAE8E5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#cartTitle{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 20px 20px 10px 20px;
    font-size: clamp(45px, 5vw, 60px);

}

#reviewSelections {
    font-family: "Montserrat", serif;
    font-size: clamp(12px,2vw,14px);
    font-style: italic;
    font-weight: 265;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 5px;
}

.selectionSummary p {
    font-family: "Montserrat", serif;
    font-size: clamp(10px, 2vw, 12px);
    margin: 5px;
}

.selKey {
    font-weight: 520;
}


.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transform: translateY(80%);
}
.empty a {
    font-family: "Montserrat", serif;
    font-size: 18px;
    text-decoration: underline;
    color: black;
    
}
.notemptycart {
    padding: 30px;
}

.cartContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.buyItem {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    transition: 0.3ms;
    margin-left: 40px;
    margin-right: 40px;
}

.itemImage{
    width: 100px;
    height: 100px;
    border: 0.2px solid rgba(39, 36, 1, 0.3);
    object-fit: cover;
}

.productDetails {
    flex: 1;
}

.itemName{
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 3vw, 16px);
    font-weight: 350;
    margin: 0 0 5px 0;
    
}

.itemPrice { 
    display: block;
    font-family: "Montserrat", serif;
    font-size: clamp(15px, 3vw, 18px);
    margin-left: auto;
    margin-bottom: 15px;
}

.itemQuantity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.itemQuantity button {
    border: none;
    background: #EAE8E5;
    
    cursor: pointer;
    font-size: clamp(13px, 3vw, 16px);
}

.number {
    font-family: "Montserrat", serif;
    font-size: clamp(11px, 2vw, 14px);
    border: 0.5px solid rgba(39, 36, 1, 0.5);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.deleteBin {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.notes{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.notes h3 {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 3vw, 16px);
    font-weight: 400;
    padding-left: 5px;
}

.notes textarea {
    width: 100%;
    height: 120px;

    background: rgba(85, 115, 115, 0.4);


    border: 0.5px solid rgb(39,36,1, 0.5);
    padding: 10px;
    font-size: clamp(10px, 1vw, 12px);
    box-sizing: border-box;

    
}

.orderSummary {
    width: auto;
    border: 0.5px solid rgb(39,36,1, 0.5);
    background-color: white;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
}

.orderSummary h3 {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: clamp(13px, 2vw, 16px);
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;

}


.summaryPrice {
    font-family: "Montserrat", serif;
    font-size: 13px;
}

.addUpCosts {
    display: grid;
    flex-direction: column;
    padding: 10px;
}

.addUpCosts h4{
    font-family: "Montserrat", serif;
    font-size: clamp(11px, 1vw, 14px);
    font-weight: 370;
    padding-left: 40px;
}

.cost {
    padding-right: 20px;
    font-family: "Montserrat", serif;
    font-size: clamp(11px, 1vw, 14px);
    font-weight: 370;
}

#totalPrice {
    padding-right: 20px;
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 16px);
    font-weight: 370;
}

.cartSub, .cartDel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.totalTitle {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 16px);
    font-weight: 500;

}

.total {
    border-top: 0.5px solid rgba(0, 0, 0, 1.0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 0px;

}

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout button {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 16px);
    background-color: #272401;
    color: white;
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    margin-top: 20px;

}

.checkout button:disabled {
    background-color: #B5B5B5;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;

}

/* CHECKOUT */

.checkoutHeader {
    background-color: #EAE8E5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.orderSummaryCheckOut {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;

}


.orderSummaryCheckOut summary {
    font-family: "Playfair", serif;
    font-size: 20px;
}

.orderSummaryCheckOut p {
    font-family: "Montserrat", serif;
}

.personalInfo h3,
.shippingInfo h3,
.shippingMethod h3,
.paymentMethod h3 {
    margin: 0;
    padding: 15px 5px;

}

.personalInfo {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.personalInfo #userName {
    width: calc(100% - 48px);
    margin-top: 15px;

 }

.personalInfo h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;
    border-bottom: 1px solid;
    

}

.shippingInfo {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.shippingInfo h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;
    border-bottom: 1px solid;


}

.shippingMethod {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.shippingMethod h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;

}

.paymentMethod {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.paymentMethod h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;

}

 .checkoutInput {
    width: auto;
    height: 20px;
    border: 1px solid;
    border-radius: 18px;
    padding: 5px 18px 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    outline: none;
    transition: 0.2s ease;
 }
 
 .paymentForm {
    display: flex;
    flex-direction: column;
 }
 .detailRow {
    display: flex;
    gap: 20px;
    margin: 10px 5px;
 }

 .personalInfo .checkoutInput {
    width: 100%;
 }
 .detailRow .checkoutInput {
    width: 50%;
 }

 .cardContent .detailRow .checkoutInput {
    flex: 1;
    min-width: 0;
    margin-bottom: 0;
 }

 .cardContent #cardName {
    width: calc(100% - 48px);

 }

.shippingInfo .shippingInput {
    padding: 5px 18px 10px;
    border: 1px solid;
    border-radius: 40px;
    font-family: "Montserrat", serif;
    font-size: 16px;
    margin: 5px;
    box-sizing: border-box;
    outline: none;
}

.shippingInfo .detailRow {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

/* set default */
.shippingInput {
    flex: 1;
    min-width: 0;
}
/* takes the items in first part (address and postcode) and makes them 3:1 ratio so address is bigger in width */
.shippingInfo .detailRow:first-of-type .shippingInput:first-child { /* takes the first 'item' in section */
    flex: 3; /* makes it worth 3 parts */
    margin-top: 15px;
}
.shippingInfo .detailRow:first-of-type .shippingInput:last-child { /* takes the last 'item' in section */
    flex: 1; /* makes it worth 1 part */
    margin-top: 15px;
}

/* makes the items in here (second part which is city and country) equal */
.shippingInfo .detailRow:last-of-type .shippingInput {
    flex: 1;
    margin-bottom: 10px;
}

.cardContent .detailRow {
    display: flex;
}

.cardContent .detailRow .checkoutInput:nth-child(1) {
    flex: 3;
}

.cardContent .detailRow .checkoutInput:nth-child(2) {
    flex: 1.5;
}

.cardContent .detailRow .checkoutInput:nth-child(3) {
    flex: 1;
}


.radio {
    display: none;
}

.placeOrderBtn {
    background-color: #272401;
    font-family: "Montserrat", serif;
    font-size: 16px;
    color: white;
    width: 220px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    
}

.placeOrderBtn:disabled {
    background-color: #B5B5B5;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
}

.radio {
    display: none;
    
}

.radio:checked + label {
    background-color: rgba(85, 115, 115, 0.4);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2); /* inner shadow*/
    color: black;
    transition: 0.3s;
}
.payments {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.payments label {
    flex: 1;
    padding: 12px;
    min-width: 50px;
    background-color: #EAE8E5;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-size: clamp(12px, 2vw, 15px);
    transition: 0.2s;

}

.paymentContent {
    display: none;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}


#card:checked ~ .cardContent {
    display: block; /* show this content when selected */
}

#klarna:checked ~ .klarnaMethod {
    display: block;
}

#paypal:checked ~ .paypalMethod {
    display: block;
}

#applePay:checked ~ .appleMethod {
    display: block;
}

.shippingOption {
    display: none;
    
}

.shippingMethod {
    display: flex;
    flex-direction: column;
}

.shippingType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    padding: 12px;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 16px);
    transition: 0.5s;
}

.shippingOption:checked + label{
    background-color: rgba(85, 115, 115, 0.4);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2); /* inner shadow*/
    transition: 0.3s;

}

.checkoutTotal {
    font-size: clamp(15px, 2vw, 18px);
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 15px;
    border: 1px solid;
}

.totalLabel {
    font-family: "Playfair Display", serif;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 600;
}

.summaryItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
}

.summaryImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.nameQuant {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Montserrat", serif;
    font-size: 13px;
}

.summaryPrice {
    margin-left: auto;
    font-family: "Montserrat", serif;
    font-size: 13px;
    font-weight: 450;
}

.subtotalRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 600;
}


/* ORDER CONFIRMATION PAGE */
#orderConfirmedImg {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0;

}

.confirmationPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.confirmationMessage {
    margin-top: 20px;
}

.confirmationMessage h2 {
    font-family: "Montserrat", serif;
    font-size: clamp(20px, 5vw, 32px);
    font-weight:400;
}

.confirmationMessage p {
    font-family: "Montserrat", serif;
    font-size: clamp(16px, 2vw, 22px);
}
#ordernumber {
    font-weight: 600;
}

.confirmationButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.statusBtn {
    font-family: "Montserrat", serif;
    background-color: white;
    border: 1px solid;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: clamp(18px, 2vw, 24px);
    cursor: pointer;
    transition: 0.2s ease;
}

.statusBtn:hover {
    box-shadow: 0 4px 11px rgba(0,0,0,0.15);
}
.homeBtn {
    font-family: "Montserrat", serif;
    background-color: white;
    border: 1px solid;
    border-radius: 40px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}
.homeBtn:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}


/* FOOTER */

footer{
    text-align: center;
    padding: 20px;
    border-top: 0.5px solid;
    background: #FFFF;

}

.footerNav{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

footer a{
    font-family: "Montserrat", serif;
    font-size: 12px;

}


/* Profile Page */
.profileHeader {
    text-align: center;
    margin-bottom: 20px;

}

.profileHeader img {
    width: 70px;
    height: 70px;
}

.profilePage {
    max-width: 700px;
    margin: 0 auto 40px auto;
}

.accountDetails {
    background: white;
    border: 1px solid;
    padding: 30px;

}

.accountDetails input {
    font-size: 13px;
    padding: 5px 14px;
    height: 16px;
    border-radius: 20px;
    border: 0.5px solid;

}

.accountDetails button {
    background: #272401;
    font-family: "Montserrat", serif;
    font-size: clamp(12px, 2vw, 14px);
    color: white;
    padding: 5px 20px;
    display: block;
    margin: 20px auto 0;
    cursor: pointer;
}

.orderHistorySection {
    margin: 0 20px 40px 20px;
}

#orderhistory {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

#left
#orderhistory th {
    padding: 12px;
    border: 0.5px solid;
    background: #272401;
    color: white;
}

#orderhistory td {
    padding: 12px;
    border: 0.5px solid;
    
}



/* MOBILE DESIGN */

/*768 for easy testing purposes */
@media (max-width: 768px) { 

    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 8px 18px;
    }

    .logo {
        height: 60px;
        margin: 0;
    }

    .hamburger {
        visibility: visible;
        opacity: 1;
        font-size: 30px;
        padding: 0;
    }

    .leftIcons {
        justify-content: flex-start;
        gap: 10px;
    }


    .rightIcons {
        justify-content: flex-end;
        gap: 10px;
    }

    .cart-icon {
        height: 43px;
        margin-right: 0;
    }

    #profileIcon {
        height: 30px;
    }

    .searchIcon {
        height: 24px;
    }
    
    

    .search {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }


    /*expandable search */
    .search input {
        width: 0;
        opacity: 0;
        padding: 0;
        border: 0;
    
    }

    .search.active input {
        width: 80vw;
        max-width: 250px;
        opacity: 1;
        padding: 8px 10px;
        border: 1px solid;
        border-radius: 20px;

    }



    .search.active .searchDropdown {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 1000;
    }

    .searchDropdown {
    position: fixed;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 250px;
    }

    .searchDropdown input {
        display: block;
        width: 100%;
        padding: 8px 10px;
        border: none;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.65);
        backdrop-filter: blur(12px);
        outline: none;

    }


    .hamburger {
        visibility: visible;
        opacity: 1;
    }

    .dropContent {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 110px;
        background: white;
        border: 0.1px solid;
        border-bottom: none;
        min-width: 180px;
    
    }

    .headerNav {
        display: none;
        position: absolute;
        top: 60px;
        left: 20px;
        flex-direction: column;
        width: 130px;
        background: white;
        border: 1px solid;
        z-index: 999;
        align-items: stretch;

        gap: 0;
        padding: 0;
    }

    .headerNav.active {
        display: flex;
    }

    .headerNav a {
        display: block;
        padding: 14px 16px;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid;
        box-sizing: border-box;
        line-height: 1.2;
        text-decoration: none;
    }

    .keyValues{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin:30px 30px 60px 30px;
        gap: 0;

    }
    .categories{
        grid-template-columns: repeat(2, 1fr);
    }

    #productLists{
        grid-template-columns: 1fr;
    }

    .categoryCards {
        grid-template-columns: repeat(2, 1fr);
    }

    #productLists article img {
        height: 250px;
    }

    .category h2{
        font-size: clamp(20px, 5vw, 32px);

        
    }

    .productpage {
        display: flex;
        flex-direction: column;
    }

    .productimage {
        margin: 0;
    }

    #productpgBack {
        padding-top: 0px;
    }

    .productDropdowns {
        width: 100%;
        flex-basis: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        order: 3;
    }

    .productDropdowns details {
        width: 100%;
        margin: 0;
    }

    /*CART PAGE*/

    .buyItem {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 25px;
        padding: 0;
    }

    .itemImage {
        width: 75px;
        height: 75px;
        flex-shrink: 0;

    }

    .productDetails {
        flex: 1;
        min-width: 0;
        gap: 2px;
    }


    .itemPrice {
        margin: 10px 0 0 0;
        font-size: 14px;
    }

    #reviewSelections {
        margin-top: 0;
        margin-bottom: 4px;
        margin-left: 0;
    }

    .itemQuantity {
        gap: 6px;
        margin-top: 0px;
    }

    .itemQuantity button {
        font-size: 14px;
        padding: 0;
        width: 20px;
        width: 20px;
        height: 20px;

    }

    .number {
        width: 22px;
        height: 22px;
        font-size: 12px;
    }

    .deleteBin {
        width: 16px;
        height: 16px;
    }

    .checkoutInput {
        font-size: 13px;
        padding: 6px 14px;
        height: 16px;
    }

    .shippingInfo .shippingInput {
        font-size: 13px;
        padding: 6px 14px;
        height: 28px;
    }


    .detailRow {
        gap:20px;
    }
    

    footer a {
    font-family: "Montserrat", serif;
    font-size: 11px;
    }

    footer {
        position: static;
    }


}









