
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


/* GENERAL visual design */

body{
    background-color: #EAE8E5;
    margin: 0;
}

.sub-titles{
    font-weight: 550;

}

details {
    font-family: "Montserrat", serif;
    padding: 20px;
}


header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #FFFF;
}

.headerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border-top: 0.5px solid;
    padding: 15px;
    
}

nav a{
    font-family: "Playfair", sans-serif;
    font-size: large;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    transition: 0.3s;
}

nav a:hover{
    text-decoration: underline;
}

header input{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid;
    width: 100%;
    max-width: 350px;
}

.logo{
    height: 80px;
    justify-content: center;
}

.cart-icon{
    height: 50px;
}

/* set header font */
h1{
font-family: "Playfair Display", serif;
font-weight: 500;
margin: 20px;
font-size: clamp(35px, 5vw, 50px);
}

/*body text */
p{
    font-family: "Montserrat", serif;
    font-size: clamp(12px, 2vw, 16px);
    margin: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


/*HOMEPAGE */

.hero{
    position: relative;
    margin: 0;
    padding: 0;
}

.hero img{
    width: 100%;
    height: 350px; /*TEST ON SMALL SCREEN */
    object-fit: cover;
}

.herocontent{
    text-align: center;
    padding: 30px 20px;
}

.hero button{
    margin: 0;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border: 0.5px solid;
    padding: 9px 12px;

}
#left{
    left: 15px;
}

#right{
    right: 15px;
}


.shopnowbtn{
    display: inline-block;
    font-family: "Montserrat", serif;
    font-size: 22px;
    background:#272401;
    text-decoration: none;
    margin: 10px 0;
    color: white;
    padding: 12px 30px;

    transition: 0.1s;

}

.shopnowbtn:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0,.25);

}

#tagline{
    font-family: "Montserrat", serif;
    font-size: 20px;
}

.keyValues{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 120px;
    margin-top:30px;
    
    margin-bottom: 60px;
}

.keyValues img{
    width: 50px;
    height: 50px;
    justify-content: center;
}
/* CONTACT PAGE */

#ausMap {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* CATEGORIES PAGE */
.categoryCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 50px;
    


}

.category:hover {
    border: 1px solid #272401;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

}

.category{
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 100%;
    border: 0.5px solid rgba(39, 36, 1, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0,0.15);;
    transition: 0.2s ease;

}

.category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    display: block;

}

.category h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Playfair", serif;
    color: black;
    font-weight: 500;
    font-size: clamp(12px, 2.5vw, 30px); /*min, speed increase, max */
    margin: 0;
    text-align: center;
}

/* PRODUCT LISTS */
#productLists {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 columns */
    gap: 60px;
    padding: 40px;
}

#productLists article{
    background: white;
    border: 0.5px solid;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

}

#productLists article:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    border: 1.5px solid #272401;

}

#productLists article img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    display: block;
}

.info{
    padding: 20px 15px;
}

.info h3 {
    margin: 5px 0;
    font-family: "Montserrat", serif ;
    font-weight: 400;
    font-size: 24px;
    color: black;
    text-decoration: none;

}

.productCardLink {
    text-decoration: none;
}

.info p{
    margin: 5px 0;
    font-size: 14px;
    color: black;
    text-decoration: none;

}

#productLists {
    max-width: 1200px;
    margin: 0 auto;
}

/* CONTACT PAGE */
#ausMap {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    display: flex;
    justify-content: center;
    
}

/* ABOUT US */
#aboutUsSub {
    font-family: "Montserrat", serif;
    font-size: clamp(15px, 2vw, 18px);
    font-weight: 600;
    margin: 20px;
    

}

/*PRODUCT PAGE */
.productpage {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.productimage, .productinfo {
    flex: 1;
}

.productimage {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.productpage img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.d-none {
    display: none;
}

/* CART PAGE */

.cartHeader {
    background-color: #EAE8E5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#cartTitle{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 20px 20px 10px 20px;
    font-size: clamp(45px, 5vw, 60px);

}
.goBack button{
    padding-left: 20px;
    border: none;
    background: #EAE8E5;
    font-family: "Montserrat", serif;
    font-size: clamp(20px, 5vw, 35px);

    cursor: pointer;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transform: translateY(80%);
}
.empty a {
    font-family: "Montserrat", serif;
    font-size: 18px;
    text-decoration: underline;
    color: black;
    
}
.notemptycart {
    padding: 30px;
}

.cartContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.buyItem {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    transition: 0.3ms;
    margin-left: 40px;
    margin-right: 40px;
}

.itemImage{
    width: 100px;
    height: 100px;
    border: 0.2px solid rgba(39, 36, 1, 0.3);
    object-fit: cover;
}

.productDetails {
    flex: 1;
}

.itemName{
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 3vw, 16px);
    font-weight: 350;
    margin: 0 0 15px 0;
}

.itemPrice { 
    display: block;
    font-family: "Montserrat", serif;
    font-size: clamp(15px, 3vw, 18px);
    margin-left: auto;
    margin-bottom: 15px;
}

.itemQuantity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.itemQuantity button {
    border: none;
    background: #EAE8E5;
    
    cursor: pointer;
    font-size: clamp(13px, 3vw, 16px);
}

.number {
    font-family: "Montserrat", serif;
    font-size: clamp(11px, 2vw, 14px);
    border: 0.5px solid rgba(39, 36, 1, 0.5);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.deleteBin {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.notes{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.notes h3 {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 3vw, 16px);
    font-weight: 400;
    padding-left: 5px;
}

.notes textarea {
    width: 100%;
    height: 120px;

    background: rgba(85, 115, 115, 0.4);


    border: 0.5px solid rgb(39,36,1, 0.5);
    padding: 10px;
    font-size: clamp(10px, 1vw, 12px);
    box-sizing: border-box;

    
}

.orderSummary {
    width: auto;
    border: 0.5px solid rgb(39,36,1, 0.5);
    background-color: white;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
}

.orderSummary h3 {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: clamp(13px, 2vw, 16px);
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;

}

.addUpCosts {
    display: grid;
    grid-template-columns: 1fr auto;
}

.addUpCosts h4{
    font-family: "Montserrat", serif;
    font-size: clamp(11px, 1vw, 14px);
    font-weight: 370;
    padding-left: 40px;
}

.cost {
    padding-right: 20px;
    font-family: "Montserrat", serif;
    font-size: clamp(11px, 1vw, 14px);
    font-weight: 370;
}

#totalPrice {
    padding-right: 20px;
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 16px);
    font-weight: 370;
}

.totalTitle {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 16px);
    font-weight: 500;
}

.total {
    border-top: 0.5px solid rgba(0, 0, 0, 1.0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout button {
    font-family: "Montserrat", serif;
    font-size: clamp(13px, 2vw, 16px);
    background-color: #272401;
    color: white;
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    margin-top: 20px;

}

/* CHECKOUT */

.checkoutHeader {
    background-color: #EAE8E5;
}

.goBack a{
    font-family: "Montserrat", serif;
    color: black;
    text-decoration: none;
}

.orderSummaryCheckOut {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;

}


.orderSummaryCheckOut summary {
    font-family: "Playfair", serif;
    font-size: 20px;
}

.orderSummaryCheckOut p {
    font-family: "Montserrat", serif;
}

.personalInfo {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.personalInfo h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;
    border-bottom: 1px solid;

}

.shippingInfo {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.shippingInfo h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;
    border-bottom: 1px solid;

}

.shippingMethod {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.shippingMethod h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;
    border-bottom: 1px solid;

}

.paymentMethod {
    width: auto;
    margin: 20px;
    background-color: white;
    border: 1px solid;
}

.paymentMethod h3 {
    font-family: "Playfair", serif;
    font-size: 19px;
    padding-left: 5px;
    border-bottom: 1px solid;

}

 .checkoutInput {
    width: auto;
    height: 20px;
    border: 1px solid;
    border-radius: 18px;
    padding: 5px 18px 10px;
    margin: 5px;
    font-size: 16px;
    color: black;
    outline: none;
    transition: 0.2s ease;
 }
/* FOOTER */

footer{
    text-align: center;
    padding: 20px;
    border-top: 0.5px solid;
    background: #FFFF;

}

.footerNav{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

footer a{
    font-family: "Montserrat", serif;
    font-size: 12px;

}

.radio {
    display: none;
}

.placeOrderBtn {
    background-color: #272401;
    font-family: "Montserrat", serif;
    font-size: 16px;
    color: white;
    width: 250px;

    display: flex;
    
}

.radio {
    display: none;
    
}

.radio:checked + label {
    background-color: rgba(85, 115, 115, 0.4);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2); /* inner shadow*/
    color: black;
    transition: 0.3s;
}
.payments {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.payments label {
    flex: 1;
    padding: 12px;
    background-color: #EAE8E5;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-size: 15px;
    transition: 0.2s;

}

.paymentContent {
    display: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#card:checked ~ .cardContent {
    display: block; /* show this content when selected */
}

#klarna:checked ~ .klarnaMethod {
    display: block;
}

#paypal:checked ~ .paypalMethod {
    display: block;
}

#applePay:checked ~ .appleMethod {
    display: block;
}

.shippingOption {
    display: none;
    
}

.shippingMethod {
    display: flex;
    flex-direction: column;
}

.shippingType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    padding: 12px;
    cursor: pointer;
    font-family: "Montserrat", serif;
    transition: 0.5s;
}

.shippingOption:checked + label{
    background-color: rgba(85, 115, 115, 0.4);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2); /* inner shadow*/
    transition: 0.3s;

}
/* MOBILE DESIGN */
@media (max-width: 768px) {
    .categories{
        grid-template-columns: repeat(2, 1fr);
    }

    #productLists{
        grid-template-columns: 1fr;
    }

    .categoryCards {
        grid-template-columns: repeat(2, 1fr);
    }

    .category h2{
        font-size: clamp(20px, 5vw, 32px);

        
    }

    .productpage {
        flex-direction: column;
    }
}







